spring:
  datasource:
    url: jdbc:postgresql://<DB_URL>:5432/<DB_NAME>
    username: <DATABASE_USERNAME>
    password: <DATABASE_PASSWORD>
    hikari:
      maximum-pool-size: 3
      minimum-idle: 3
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

server:
  port: 4000
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: never
    include-exception: false
